<style>
 .buttons { 
        left: 15px;
        top: 100px;
        width:290px;
        height:30px;
        background-color: #efefef; 
      }
 .buttons:hover{ 
        left: 25px;
        top: 100px;
        width:290px;
        background-color: #ffaaaa; 
      }
 .matrix{
      align: 'center';
      left: 200px;
      width:500px;
      top:450px;
     }
.div1{
    position:Absolute;
    top:45px;
     align: 'center'
    }
.clues{
    position:fixed;
    align: left;
    top: 20px;
    }
.rectangle{
    width:460px;height:460px;background:#eeeeff;
   }
</style>
